* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    background-image: url('img/background.jpg');
    background-position: 100%;
    background-size: cover;
    background-color: rgb(209, 226, 226);
    background-blend-mode: overlay;
}

nav {
    align-items: center;
    padding: 18px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.127);
    .nav-links {
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 4px 8px;
        border: 1px solid transparent;
    }
    a:hover {
        color: darkslategrey;
        border: 1px solid darkslategrey;
        padding: 4px 8px;
        border-radius: 6px;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: rgb(178, 199, 199);
    padding: 86px 75px 90px 75px;
    text-align: center;
    justify-content: center;
    #welcome {
        font-size: 3rem;
        h2 {
            font-style: italic;
            font-weight: 100;
            font-size: 3.5rem;
            color: darkslategray;
        }
    }
    #description {
        padding: 90px 0px 30px 0px;
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }
    #placeholder {
        font-size: 8rem;
        padding: 60px;
    }
}

.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 65px;
    h2 {
        font-size: 2rem;
    }
}

#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
    padding: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.056);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.127);
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    h3 {
        padding: 20px;
        font-size: 21px;
    }
    p {
        padding: 0px 20px;
        color: black;
        font-weight: 100px;
    }
}

.button {
    width: 115px;
    padding: 7px 0;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin: 20px 0;
    border-radius: 6px;
    border: 1px solid darkslategrey;
    color: darkslategrey;
    background-color: transparent;
}

.button:hover {
    background-color: darkslategray;
    color: whitesmoke;
    border: 1px solid darkslategray;
    border-radius: 6px;
}

footer {
    align-items: center;
    padding: 26px 0;
    background-color: whitesmoke;
    .footer-links {
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 4px 8px;
        border: 1px solid transparent;
    }
    a:hover {
        color: darkslategray;
        border: 1px solid darkslategray;
        padding: 4px 8px;
        border-radius: 6px;
    }
}